<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='./jquery.min.js'></script>
    <script src='./jspdf.debug.js'></script>
    <script src='./main.js'></script>
</head>
<body>

    <div>
        <h1>Faasos Kitchen App</h1>

        <table border="1" width="100%" style="text-align: center;">
            <thead>
                <tr>
                    <th >Order #</th>   
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Created-till-now</th>
                    <th>Predicted</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id='tblOrders'>
                
            </tbody>
        </table>

    </div>
    <br><br>
    <div style="text-align: center;">
        <button id='btnReport'>Download Report as PDF</button>
    </div>

   <!--  <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.flipster.min.js"></script>
    <script src="./js/script.js"></script>
 --></body>
</html>