
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='./public/jquery.min.js'></script>
    <script type="text/javascript">var baseUrl = "<%= baseUrl %>"</script>
    <script src='./public/order.js'></script>
</head>
<body style="background-color: #f2f2f2">

    <div>

    <div><button id='btnHome' style="background-color: burlywood">Back To Kitch en Display</button></div>
        <div>
            <h2>Insert Product and Predicted Value</h2>
            <table border="1" style="text-align: center;">
                <tr>
                    <th>Name</th>
                    <th>Predicted Value</th>
                    <th></th>
                </tr>
                <tr>
                    <td><input type="text" id='txtProductName' placeholder="Enter product name" name=""></td>
                    <td><input type="number" id='txtProductValue' placeholder="Enter predicted value" name=""></td>
                    <td><button id='btnAddProduct'>Add product</button></td>
                </tr>
            </table>
        </div>
 
        <div>
            <h2>Place Order</h2>
            <table style="border: 1px solid black; padding: 20px" width="50%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id='tblProducts' style="text-align: center;">
                    <tr>
                        <td>
                            <select id='products'>
                                <option value="-1" selected="">Select Product Name</option>
                            </select>
                        </td>
                        <td><input type="number" id='txtProductQty' placeholder="Enter Quantity" name=""></td>
                        <td><button id='btnPlaceOrder'>Place Order</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

</body>
</html>